.intro {
    color: #fff;
    background-image: url(../img/intro/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    &__container {
        position: relative;
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        @media(max-height:900px) {
            
            min-height: 850px;
        }
        @media(max-width:1024px) {
            padding: calc(60px + var(--header-height)) 15px 60px 15px;
            display: block;
        }
        @media(max-width:492px) {
            
            padding-top: calc(62px + 65px);
        }

    }
    @media(max-width:1300px) {
        padding: 0px 0px 150px 0px;
        background-position: right center;
        
    }
    @media(max-width:1024px) {
        padding: 0 0 90px 0px;
    }
    @media(max-width:492px) {
        background-size: 492px;
        background-color:  #002241;
        background-position: top center;
        
    }
    @media(max-width:360px) {
        padding: 0px 0px 100px 0px;
    }

    &__no-padding {
        @media(max-width:1300px) {
            padding: 0;  
        }
        @media(max-width:1024px) {
            padding: 0;
        }
        @media(max-width:360px) {
            padding: 0;
        }
        
    }

    &__body {
       
    }

    &__content {
        @media(max-height:900px) {
            margin-bottom: 40px;
        }
       @media(max-width:1024px) {
        margin-bottom: 40px;
       }
    }

    &__item {}

    &__heading {
        margin-bottom: 22px;
        @media(max-width:492px) {
            text-align: center;
            .heading__main {
                letter-spacing: normal;
            }
            
        }
        &.title {
            span {
                font-weight: 400;
                @media(max-width:492px) {
                    font-weight: 300;
                }
            }
        }

    }

    &__label {
        @include adaptiv-value("font-size", 36, 14, 1);
        font-weight: 300;
        color: #fff;
        letter-spacing: 1px;
        line-height: 100%;
        font-family: "Nunito";
        margin-bottom: 40px;
        text-transform: none;
        @media(max-width:492px) {
            text-align: center;
        }
        span {
            background: rgba(255, 255, 255, 0.06);
            box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.64);
            border-radius: 100px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            font-weight: 600;
            @media(max-width:492px) {
                background: transparent;
                border-radius: 0px;
                box-shadow: none;
                padding: 0;
                
            }
        }
        
    }

    &__text {
        font-weight: 500;
        margin-bottom: 23px;
        font-family: "Nunito";
        @media(max-width:492px) {
            text-align: center;
            font-size: 10px;
            line-height: 14px;
        }
    }

    &__button {
        @media(max-width:492px) {
            width: 100%;
            display: flex;
        }
    }

    &__row {}

    &__title-big {
        @include adaptiv-value("font-size", 47, 32, 1);
    }
}

.container {}

.intro-row {
    position: absolute;
    width: 100%;
    bottom: 60px;
    padding: 0px 15px;
    left: 0; 
    @media(max-width:1024px) {
        position: static;
        padding: 0;
    }
    &__row {
        display: flex;
        align-items: start;
        gap: 30px;
        @media(max-width:1024px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        @media(max-width:492px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
        flex: 0 1 25%;
    }

    &__top {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiv-value("width", 44, 32, 1);
        @include adaptiv-value("height", 44, 32, 1);
        flex: 0 0 calc(32px + 12 * ((100vw - 360px) / 950));
        background: rgba(255, 255, 255, 0.16);
        border-radius: 8px;
        img {
            @include adaptiv-value("width", 24, 17.5, 1);
            @include adaptiv-value("height", 24, 17.5, 1);
        }
    }

    &__label {
        font-weight: 900;
        font-size: 17px;
    }

    &__content {}

    &__text {
        opacity: 0.7;
    }
}

.intro {

    &__item {
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 200px;
        left: 15px;
        flex-wrap: wrap;
        @media(max-width:1024px) {
            display: none;
        }
    }

    &__nav-item {
        color: #fff;
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        font-weight: 700;
        &:after {
            content: "";
            display: block;
            width: 5px;
            height: 10px;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 10px;
            background-image: url(../img/icons/nav-arrow.svg);
        }
        &:last-child {
            opacity: 0.64;
            font-weight: 400;
            &:after {
                display: none;
            }
        }
    }
}

.text_bottom {
    margin-bottom: 40px;
}