.projects {
    padding: 170px 0px 30px 0px;
    position: relative;
    max-width: 2040px;
    background: #002241;
    overflow: hidden;
    min-height: 1400px;
    @media(max-width:1400px) {
        padding: 170px 0px 250px 0px;
    }
    @media(max-width:767px) {
        padding: 40px 0px 50px;
        min-height: 100%;
    }
    @media(max-width:492px) {
        
    }
    &__container {
        position: relative;
        z-index: 4;
    }

    &__mask {
        background: #002241;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &__body {}

    &__top {
        color: #fff;
        margin-bottom: 70px;
        @media(max-width:492px) {
            margin-bottom: 30px;
            gap: 10px;
        }
        &_no-tab {
            margin-bottom: 30px;
        }
    }

    &__label {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 3px;
        text-transform: uppercase;
        opacity: 0.64;
        @media(max-width:492px) {
            opacity: 1;
            color: #fff;
            font-size: 10px;
        }
    }

    &__title {}

    &__nav {
        display: flex;
        align-items: stretch;
        gap: 10px;
        @media(max-width:1024px) {
            display: none;
        }
    }

    &__nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 4px;
        font-weight: 900;
        font-size: 10px;
        height: 100%;
        transition: all 0.4s ease 0s;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        padding: 2px 10px;
        line-height: 240%;
        &._active {
            color: $black;
            background-color: #fff;
        }
    }
    

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 400px;
        left: -200px;
        &_no-tab {
            top: 340px;
        }
        @media(max-width:1900px) {
            left: -210px;
        }
        @media(max-width:1880px) {
            left: -220px;
        }
        @media(max-width:1860px) {
            left: -230px;
        }
        @media(max-width:1840px) {
            left: -240px;
        }
        @media(max-width:1820px) {
            left: -250px;
        }
        @media(max-width:1800px) {
            left: -260px;
        }
        @media(max-width:1780px) {
            left: -270px;
        }
        @media(max-width:1760px) {
            left: -280px;
        }
        @media(max-width:1740px) {
            left: -290px;
        }
        @media(max-width:1720px) {
            left: -300px;
        }
        @media(max-width:1700px) {
            left: -310px;
        }
        @media(max-width:1680px) {
            left: -320px;
        }
        @media(max-width:1660px) {
            left: -330px;
        }
        @media(max-width:1640px) {
            left: -340px;
        }
        @media(max-width:1620px) {
            left: -350px;
        }
        @media(max-width:1600px) {
            left: -360px;
        }
        @media(max-width:1580px) {
            left: -370px;
        }
        @media(max-width:1560px) {
            left: -380px;
        }
        @media(max-width:1540px) {
            left: -390px;
        }
        @media(max-width:1520px) {
            left: -400px;
        }
        @media(max-width:1500px) {
            left: -410px;
        }
        @media(max-width:1480px) {
            left: -420px;
        }
        
        @media(max-width:1460px) {
            left: -430px;
        }
        @media(max-width:1440px) {
            left: -440px;
        }
        @media(max-width:1420px) {
            left: -450px;
        }
        @media(max-width:1400px) {
            position: relative;
            max-width: 992px;
            margin: 0 auto;
            padding: 40px 15px 0px 15px;
            display: flex;
            left: 0;
            top: 0;
            min-height: 950px;
            align-items: center;
            justify-content: center;
        }
        @media(max-width:1024px) {
            max-width: 730px;
            position: static;
            min-height: 100%;
        }
        @media(max-width:767px) {
            margin-bottom: 40px;
        }
        @media(max-width:492px) {
            max-width: 400px;
        }

    }

    

    &__row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        &:before {
            position: absolute;
            width: 10000%;
            height: 100%;
            top: 0;
            left: 200px;
            z-index: 5;
            content: "";
            display: block;
            background: linear-gradient(180deg, rgba(0, 34, 65, 0) 0%, #002241 88.54%);
        }
        height: 1400px;
        gap: 24px;
        @media(max-width:1400px) {
            height: 100%;
            width: 100%;
            column-count: 3;
            display: block;
            top: 20px;                                                           
        }
        @media(max-width:1024px) {
            column-count: 2;
            position: static;
            top: 0;
        }
        
        @media(max-width:492px) {
            gap: 16px;
        }

    }

    &__button {
        position: absolute;
        padding: 16px 34px;
        z-index: 6;
        bottom: 220px;
        max-width: 320px;
        left: calc(50% - 160px);
        white-space: nowrap;
        &:before {
            display: none;
        }
        @media(max-width:1400px) {
            position: relative;
            text-align: center;
            bottom: -40px;
            font-size: 13px;
        }
        @media(max-width:767px) {
            bottom: 0;
            left: 0;
        }
        @media(max-width:492px) {
            width: 100%;
            display: flex;
            padding: 16px 10px;
            max-width: 100%;
        }
    }

    // &__bg {
        
    //     img {
    //         z-index: 3;
    //     }
    // }

    &__item {}

    &__bottom {
        @media(max-width:767px) {
            padding: 0px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.projects-item {
    width: 264px;
    background: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 4;
    opacity: 0.3;

    color: $black;
    &:nth-child(1), &:nth-child(2), &:nth-child(3) , &:nth-child(4) {
        transition: all 0.6s ease 0s;
    }
    &:nth-child(5), &:nth-child(6), &:nth-child(7) , &:nth-child(8) {
        transition: all 0.8s ease 0s;
    }
    &:nth-child(9), &:nth-child(10), &:nth-child(11) , &:nth-child(12) {
        transition: all 1s ease 0s;
    }
    &:nth-child(13), &:nth-child(14), &:nth-child(15) , &:nth-child(16) {
        transition: all 1.2s ease 0s;
    }
    &:nth-child(17), &:nth-child(18), &:nth-child(19) , &:nth-child(20) {
        transition: all 1.4s ease 0s;
    }
    &:nth-child(21), &:nth-child(22), &:nth-child(23) , &:nth-child(24) {
        transition: all 1.6s ease 0s;
    }
    &:nth-child(25), &:nth-child(26), &:nth-child(27) , &:nth-child(28) {
        transition: all 1.8s ease 0s;
    }
    &:nth-child(29), &:nth-child(30), &:nth-child(31) , &:nth-child(32) {
        transition: all 2s ease 0s;
    }
    
    &:hover {
        .projects-item__image img {
            transform: scale(1.1);
        }
    }

    filter: blur(1.5px);
    @media(max-width:1400px) {
        display: none;
        width: 100%;
        

    } 
    &._active {
        z-index: 6;
        opacity: 1;

        filter: none;
        @media(max-width:1400px) {
            display: block;
            margin-bottom: 24px;
        } 
        @media(max-width:492px) {
            margin-bottom: 16px;
        }
    }

    &__image {
        position: relative;
        padding-bottom: 164px;
        width: 100%;
        overflow: hidden;
        transform: scale(1);

        img {
            transition: all 0.4s ease 0s;
        }
        @media(max-width:767px) {
            padding-bottom: 130px;
        }
        @media(max-width:492px) {
            padding-bottom: 80px;
        }
    }

    &__content {
        padding: 16px;
        height: 100%;
        @media(max-width:492px) {
            padding: 8px;
        }
    }

    &__title {
        font-size: 16px;
        margin-bottom: 8px;
        font-weight: 700;
        line-height: 130%;
        @media(max-width:492px) {
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__text {
        font-size: 10px;
        opacity: 0.8;
        line-height: 14px;
        
    }
}

.tab__slide {
    transition: all 1s ease 0s;
    position: absolute;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    .projects-item {
        
        transform: translate(0, 150%)
        
    }
    &:before {
        display: none;
    }
    @media(max-width:1400px) {
        width: 100%;
        left: 0;
        height: 100%;
    }
    @media(max-width:1024px) {
        position: static;
        display: none;
    }
    &._active {
        display: flex;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        @media(max-width:1400px) {
            display: block; 
        }
        
        &:before {
            display: block;
            @media(max-width:1400px) {
                display: none;
            }
        }
        .projects-item {
            transform: translate(0,0);
        }
    }
}