.reviews {
    background: #EBF4FF;
    mix-blend-mode: multiply;
    padding: 250px 0px 120px 0px;

    &_top {
        @include adaptiv-value("padding-top", 120, 40, 1);
        @include adaptiv-value("padding-bottom", 120, 50, 1);
    }

    @media(max-width:767px) {
        padding: 40px 0px 50px;
    }

    &__container {}

    &__body {}

    &__top {
        display: flex;
        justify-content: space-between;
        @include adaptiv-value("margin-bottom", 55, 20, 1);
        gap: 20px;
        overflow: hidden;
        @media(max-width:767px) {
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: start;
        }
    }

    &__left {
        transform: translate(-120%,0);
        transition: all 0.8s ease 0s;
    }

    &__label {
        font-size: 14px;
        color: $blue;

        margin-bottom: 16px;
        font-weight: 700;
        letter-spacing: 3px;

        @media(max-width:492px) {
            font-size: 10px;
            margin-bottom: 10px;
        }

    }

    &__title {}

    &__right {
        align-self: flex-end;
        transition: all 0.8s ease 0s;
        transform: translate(120%,0);

        @media(max-width:767px) {
            align-self: center;
            width: 100%;
            display: none;
        }
    }

    &__button {}

    &__content {}

    &__row {
        padding: 40px 0px;

    }

    &__wrapper {
        height: 100%;

        @media(max-width:1024px) {
            flex-direction: column;
            gap: 45px;
        }
    }

    &__slide {
        height: unset;
        &:nth-child(2) {
            .reviews__item {
                transition: all 0.8s ease 0.3s;

            }
        }
    
        &:nth-child(3) {
            .reviews__item {
                transition: all 0.8s ease 0.6s;

            }
        }
    }

    &__item {
        height: 100%;
    }

    &__bottom {
        display: none;

        @media(max-width:767px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.reviews-2 {
    padding: 120px 0px;

    @media(max-width:767px) {
        padding: 40px 0px 50px 0px;
    }
}

.reviews-item {

    position: relative;
    background: #FFFFFF;
    min-height: 100%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 50px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    transform: translate(0, 150%);
    transition: all 0.8s ease 0s;

    &._visible {
        transform: translate(0, 0);
    }

    @media(max-width:492px) {
        padding: 30px 16px 16px 16px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;

        @media(max-width:492px) {
            font-size: 14px;
        }
    }

    &__label {
        margin-bottom: 16px;
        opacity: 0.64;
        font-size: 16px;
        line-height: 22px;

        @media(max-width:492px) {
            line-height: 16px;
            font-size: 12px;
            margin-bottom: 8px;
        }
    }

    &__sub-label {
        margin: 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 1px;
        text-transform: uppercase;

        color: #100F00;

        opacity: 0.4;
    }

    &__row {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-bottom: 16px;
    }

    &__rating {
        svg {
            &._gray {
                path {
                    fill: #CCCCCC;
                }
            }
        }
    }

    &__text {
        margin-bottom: 16px;
        flex: 1 1 100%;

        @media(max-width:492px) {
            font-size: 10px;
            line-height: 160%;
            margin-bottom: 8px;
        }

        p {
            margin-bottom: 4px;
        }
    }

    &__link {
        display: inline-block;
        color: #007BFC;
        border-bottom: 1px solid #007BFC;
        margin-top: 4px;

    }

    &__main-link {
        font-size: 16px;
        font-weight: 700;
        display: inline-flex;
        color: #007BFC;
        margin-bottom: 16px;
        gap: 4px;

        &:after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            flex: 0 0 16px;
            background-image: url(../img/icons/eye-blue.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        @media(max-width:492px) {
            font-size: 12px;
            margin-bottom: 8px;
        }
    }

    &__date {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        opacity: 0.4;

        @media(max-width:492px) {
            font-size: 10px;
        }
    }

    &__logo {
        position: absolute;
        height: 72px;
        top: -34px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 24px;
        border-radius: 400px;
        background: #FFFFFF;
        padding: 0px 20px;
        border: 2px solid #EBF4FF;

        @media(max-width:492px) {
            height: 51px;
            padding: 13px;
            top: -25px;
            left: 16px;
        }

        &._radius {
            border-radius: 50%;
            width: 72px;
            height: 72px;

            @media(max-width:492px) {
                padding: 13px;
                width: 51px;
                height: 51px;
            }
        }

        &._image {
            padding: 2px;

            img {
                border-radius: 50%;

            }

            @media(max-width:492px) {
                padding: 2px;
                width: 51px;
                height: 51px;
            }
        }

        img {
            object-fit: cover;
            max-width: 100%;
        }

    }
}

.reviews-3 {
    padding: 120px 0px 220px 0px;
}